.product {
  padding: 0 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 72px;

    @include lg {
      flex-direction: row;
      margin-top: 90px;
    }

    @include xl {
      margin-top: 134px;
      max-width: 1314px;
    }

    &--slider {
      margin: 0 -16px;
      @include lg {
        width: 100%;
        margin-right: 16px;
        margin-left: 0;
      }
    }
  }
  &__information {

    @include lg {
      margin-top: 0;
    }

    @include xxl {
      width: 612px;
    }

    &--title {
      font-size: 20px;
      margin: 20px 0 14px 0;

      @include lg {
        font-size: 24px;
      }
    }

    &--wrap {
      display: flex;
      justify-content: space-between;
      max-width: 340px;
    }

    &--description {
      margin-bottom: 14px;
      font-weight: 600;
    }

    &--value {
      min-width: 112px;
      margin-left: 12px;
    }

    &--btn {
      min-width: 222px;
      margin: 16px 0 20px 0;
    }
  }

  &__introduction {
    max-width: 1314px;
    margin-top: 50px;

    &--title {
      margin-bottom: 20px;

      @include lg {
        text-align: center;
      }
    }

    &--iframe {
      min-width: 50%;
      height: 193px;
      margin-top: 20px;

      @include lg {
        max-width: 643px;
        height: 361px;
        margin: 20px auto;
      }

      @include xl {
        margin-top: 0;
        margin-left: 30px;
      }
    }

    &--wrap {
      @include xl {
        display: flex;
      }
    }

  }

  &__packaging {

    margin: 50px 0;
    max-width: 1314px;

    @include lg {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--items {
      @include xl {
        display: flex;
        margin: 0 -8px;
      }
    }

    &--item {
      margin-top: 20px;

      @include xl {
        padding: 0 8px;
      }

    }

    &--iframe {
      height: 278px;

      @include lg {
        max-width: 643px;
        margin: 0 auto;
        height: 320px;
      }

      @include xl {
        max-width: 418px;
        margin: 0;
      }
    }

    &--name {
      font-weight: 600;
    }

    &--description {
      color: #9E9E9E;
      margin: 12px 0 14px 0;

      @include lg {
        max-width: 643px;

      }

      @include xl {
        min-height: 96px;
      }

      @include xxl {
        max-width: 643px;
        min-height: 72px;
      }
    }

    &--radio {
      margin-right: 14px;
    }

    &--info {
      text-align: center;
      font-weight: 600;
      margin: 30px 0 20px 0;
    }

    &--btn {
      width: 229px;
    }

    &--footer {
      text-align: center;
      background: #fff;
    }
  }

  &__buy {
    margin-bottom: 30px;
    padding: 40px 22px;
    background: #F7F7F7;
    text-align: center;
    width: 100%;
    max-width: 1314px;
    &--description {
      margin: 16px 0 30px 0;
    }

    &--social {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

    }

    &--text {
      margin: 20px 0 14px 0;

      @media screen and (min-width: 500px){
        margin-right: 24px;
        padding-bottom: 3px;
      }
    }

    &--facebook {
      margin-right: 24px;
    }

    &--btn {
      min-width: 222px;
    }
  }

  &__iframe {
    width: 100%;
    height: inherit;
  }
}
