.menu {

  &__items {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 91%;
    top: 82px;

    @media screen and (max-width: 1340px){
      margin-right: 16px;
    }
    @media screen and (min-width: 440px){
      max-width: 340px;
      right: 16px;
    }

    @include md {
      top: 36px;
    }

    @include xl {
      max-width: 430px;
      top: 50px;
      right: 0;
    }

  }

  &__mobile-menu {
    display: none;
  }

  &__item {
    font-size: 17px;
    transition: .7s ease;
    color: inherit;
    @include xl {
      font-size: 24px;
    }

    @include xxl {
    }
  }

  &__lines {
    width: 32px;
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
  }

  &__line {
    border-radius: 5px;

    &--close-first {
      transition: 1s ease;
      transform: translateY(10px) rotateZ(45deg);
      border: 1px solid #222;
    }

    &--close-second {
      transition: 1s ease;
      transform: rotateZ(45deg);
      border: 1px solid #222;
    }

    &--close-third {
      transition: 1s ease;
      transform: translateY(-10px) rotateZ(-45deg);
      border: 1px solid #222;
    }

    &--first-line {
      transition: 1s ease;
      transform: translateY(0px) rotateZ(0deg);
      border: 1px solid #fff;
    }

    &--second-line {
      transition: 1s ease;
      transform: rotateZ(0deg);
      border: 1px solid #fff;
    }

    &--third-line {
      transition: 1s ease;
      transform: translateY(0px) rotateZ(0deg);
      border: 1px solid #fff;
    }
  }
}



