@font-face {
   font-family: 'CormorantGaramond-Bold';
   src: url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.eot');
   src: local('☺'), url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.woff') format('woff'), url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.ttf') format('truetype'), url('../fonts/Cormorant_Garamond/CormorantGaramond-Bold.svg') format('svg');
   font-weight: normal;
   font-style: normal;
}
