$sm-width: 576px;
$md-width: 640px;
$lg-width: 768px;
$xl-width: 1024px;
$xxl-width: 1314px;



@mixin sm {
  @media (min-width: #{$sm-width}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-width}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-width}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$xl-width}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$xxl-width}) {
    @content;
  }
}



@mixin xs-only {
  @media (max-width: #{$sm-width - 1}) {
    @content;
  }
}

@mixin sm-only {
  @media (min-width: #{$sm-width}) and (max-width: #{$md-width - 1}) {
    @content;
  }
}

@mixin md-only {
  @media (min-width: #{$md-width}) and (max-width: #{$lg-width - 1}) {
    @content;
  }
}

@mixin lg-only {
  @media (min-width: #{$lg-width}) and (max-width: #{$xl-width - 1}) {
    @content;
  }
}

@mixin xl-only {
  @media (min-width: #{$xl-width}) and (max-width: #{$xxl-width - 1}) {
    @content;
  }
}



@mixin sm-less {
  @media (max-width: #{$sm-width - 1}) {
    @content;
  }
}

@mixin md-less {
  @media (max-width: #{$md-width - 1}) {
    @content;
  }
}

@mixin lg-less {
  @media (max-width: #{$lg-width - 1}) {
    @content;
  }
}

@mixin xl-less {
  @media (max-width: #{$xl-width - 1}) {
    @content;
  }
}

@mixin xxl-less {
  @media (max-width: #{$xxl-width - 1}) {
    @content;
  }
}