.slider {

  font-size: 28px;
  text-align: center;
  color: #fff;
  min-height: 670px;

  @include xl {
    min-height: 970px;
  }

  &__img {
    height: inherit;
    min-height: 670px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;

    @include xl {
      min-height: 970px;
    }
  }


}

.swiper-container {

  .swiper-button-prev, .swiper-button-next {
    color: #070707;
  }

}

@media screen and (max-width: 580px) {
  .swiper-container {

    .swiper-button-prev, .swiper-button-next {
      color: #070707;
      display: none;
    }

  }
}
