.price-request {
  padding: 30px 16px;
  margin: 0 auto;
  background-color: #fff;
  max-width: 343px;
  position: absolute;
  right: 0;
  left: 0;

  @include lg {
    max-width: 866px;
    padding: 30px;
    margin: 30px auto;
    top: 0;
  }

  @include xl {
    position: fixed;
    top: 0px;
  }

  &__title {
    font-size: 20px;

    &--mobile {
      font-size: 18px;
    }

  }

  &__close {
    display: flex;
    justify-content: space-between;

    span {
      margin: 0 auto;
    }

    &--btn {
      cursor: pointer;
    }
  }

  &__content {
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin: 20px 0 30px 0;

    @include lg {
      display: block;
      margin: 30px 0 40px 0;
    }

    &--mobile {
      @include lg {
        display: flex;

      }
    }
  }

  &__img {
    max-width: 389px;
    min-height: 308px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;

    @include lg {
      min-width: 389px;
      min-height: 386px;
      margin-right: 30px;
      margin-bottom: 0;
    }
  }

  &__info {
    margin: 20px 0 16px 0;
  }

  &__form {

    &--wrap {
      @include lg {
        display: flex;
        justify-content: space-between;
      }
    }

    &--title {
      text-align: left;
      margin-bottom: 20px;

      @include lg {
        text-align: center;
        margin-bottom: 30px;
      }
    }

    &--description {
      font-weight: bold;
      font-family: 'Montserrat', sans-serif;
      color: #070707;
      font-size: 16px;
      margin-bottom: 20px;

      @include lg {
        text-align: center;
      }

    }

    &--btn {
      display: flex;

      @include lg {
        justify-content: center;
      }
    }

    &--inputs {
      color: #070707;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;

      @include lg {
        width: 388px;
      }
    }

    &--input {
      min-width: 100%;
      margin-top: 10px;

      @include lg {
        margin-top: 12px;
      }
    }

    &--email {
      margin-right: 0;
      @include xl {
        margin-right: 16px;
      }
    }

  }

  &__packaging {
    margin-bottom: 12px;

    &--title {
      margin: 30px 0 16px 0;

      @include lg {
        margin: 30px 0 20px 0;
      }
    }

    &--label {
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
    }

    &--input {
      margin-right: 7px;
    }
  }

  &__textarea {
    margin: 16px 0 20px 0;
    min-height: 102px;
  }

  &__btn {
    min-width: 222px;
  }
}