.about {
  padding: 40px 0 50px 0;
  margin: 0 auto;

  &__title {
    margin-bottom: 20px;
  }

  &__text {

    &--top {
      margin-bottom: 30px;

      @include lg {
        margin-bottom: 0;
      }
    }
  }

}

@media screen and (min-width: 800px) {
  .about {
    display: flex;
    justify-content: space-between;
    max-width: 1314px;

    &__text {
      max-width: calc(50% - 15px);
    }
  }
}