.product-slider {
  margin: 40px auto;
  text-align: center;

  @include lg {
    max-width: 1314px;
    margin: 60px auto;
  }

  @include xl {
    margin: 120px auto;
  }

  &--title{
    font-size: 36px;
    font-weight: bold;
    font-family: "Cormorant Garamond";
  }

  &--description {
    margin: 16px 0 30px 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  &__wrap {
    margin-left: 16px;
    @media screen and (min-width: 1314px){
      padding: 0;
    }
  }

  &__item {
    min-height: 303px;
    font-size: 28px;

    a {
      text-decoration: none;
    }

    &--img {
      width: 100%;
    }

    &--description {
      font-size: 18px;
      text-align: left;
    }
  }

}
