.header {
  background-color: #2B4074;
  max-height: 670px;

  @include xl {
    display: block;
  }

  &__logo {

    &--mobile {
      transition: 1s;
      display: block;
      @include xl {
        display: none;
      }
    }

    &--desktop {
      display: none;

      @include xl {
        display: block;
      }
    }
  }

  &__black-logo {

    &--desktop {
        display: none;

      @include xl {
        display: block;
      }
    }
  }

  &__top {
    padding: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 999;
    height: 124px;
    transition: .6s ease-in-out;
    @include xxl {
      max-width: 1314px;
      padding: 20px 0 0 0;
    }
  }
  &__menu {
    display: none;

    @include md {
      display: block;
    }
  }

  &__burger-menu {

    height: 32px;
    margin-top: 12px;
    @include md {
      display: none;
    }
  }

  &__slider {

  }

}

