//.productPage-slider {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  max-width: 1314px;
//  margin: 0 auto;
//  border: 1px solid #21a56e;
//
//  @include xl {
//  }
//
//  &__wrap {
//    width: 100%;
//    @include lg {
//      max-width: 734px;
//
//    }
//  }
//
//  &__items {
//    min-height: 373px;
//
//    @include lg {
//      min-height: 725px;
//    }
//  }
//
//  &__item {
//    min-height: inherit;
//  }
//}

.wooden-box-img {
  position: fixed;
  width: 100%;
  max-height: 100vh;
  z-index: 9999999999;
  background-color: rgba(7,7,7, 0.5);
  top: 0;
  left: 0;
  right: 0;

  .close {
    position: relative;
    top: 111px;
    left: 604px;
    cursor: pointer;
  }
  .img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1314px;
    height: 739px;
    margin: 141px auto;
  }
}


  .product-item-container {
    display: flex;
    max-width: 884px;
    width: 100%;
    .mini-img-section {
      display: none;
      flex-direction: column;
      margin-right: 16px;

      @include xl {
        display: block;
      }

      .mini-img {
        min-width: 119px;
        min-height: 120px;
        margin-bottom: 16px;
      }
    }

    .product-slider-container {
      width: 100%;
      max-width: 731px;


      .arrows {
        display: flex;
        position: relative;
        top: 50%;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0 16px;
        cursor: pointer;
        z-index: 999;
      }
    }


  }


.product-slider {



}

.hed-slid {
  height: 373px;
  border: 1px solid transparent;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;


  @include lg {
    height: 480px;
  }

  @include xl {
    height: 725px;
  }
}




