

.contact-us {
  padding: 0 16px;
  text-align: center;
  margin-bottom: 60px;
  &__description {
    margin: 20px 0 16px 0;
  }

  &__social {
    margin-bottom: 30px;
    &--facebook {
      margin-top: 14px;
      margin-right: 24px;

      @include lg {
        margin-top: 0;
        margin-left: 30px;
      }
    }

    @include lg {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__btn {
    min-width: 166px;
  }
}