.thanks-popup {
  min-height: 153px;
  max-width: 643px;
  background-color: #fff;
  margin: 260px 16px;
  padding: 30px 16px 35px 16px;
  text-align: center;


  @include md {
    margin: 350px auto;
    min-height: 187px;
    padding: 60px 30px;

  }

  &__header {
    position: relative;
    display: flex;
  }

  &__title {
    font-size: 20px;
    min-width: 100%;
    text-align: center;

    @include md {
    }
  }

  &__description {
    margin-top: 20px;
  }

  &__close {
    position: absolute;
    right: 0;

    @include md {
      top: -30px;
    }
  }

}