.contacting-component {

  background-color: #fff;
  padding: 30px 16px;
  text-align: center;
  margin: 108px 16px;

  &__header {
    display: flex;
    align-items: end;
    justify-content: center;
  }

  &__title {
    font-size: 20px;
    margin-right: 16px;
    margin-bottom: 16px;
  }

  &__description {
    margin-bottom: 20px;
  }

  &__label {
    display: none;
  }

  &__input {
    min-width: 100%;
  }

  &__btn {
    min-width: 139px;
  }

  &__close {
    position: absolute;
    right: 32px;
    cursor: pointer;
  }

  &__textarea {
    margin: 16px 0 20px 0;
    min-height: 153px;
  }
}

@media screen and (min-width: 643px) {

  .contacting-component {
    max-width: 643px;
    margin: 200px auto;
    padding: 30px 30px 40px 30px;

    &__header {
      display: flex;
      align-items: end;
      justify-content: center;
    }

    &__title {
      font-size: 20px;
      margin-right: 16px;
      margin-bottom: 16px;
    }

    &__description {
      margin-bottom: 30px;
    }

    &__label {
      display: block;
      font-size: 16px;
      font-family: 'Montserrat', sans-serif;
      text-align: left;
      margin-bottom: 12px;
    }

    &__close {
      position: relative;
      right: -170px;
    }

    &__textarea {
      margin: 20px 0 30px 0;
    }
  }
}