.footer {
  border-top: 1px solid #DBDBDB;
  padding: 16px 0 30px 0;
  text-align: center;
  margin: 0 16px;

  @media screen and (min-width: 1314px) {
    max-width: 1314px;
    margin: 0 auto;
  }
}