@import "Global/media.scss";
@import "Global/reset.scss";
@import "Components/header/header";
@import "Components/menu/menu";
@import "Components/about/about-us";
@import "Components/about/about-us.scss";
@import "Components/productsSlider/productsSlider";
@import "Components/productsSlider/productsSlider";
@import "Components/contactUs/contactUs";
@import "Components/headerSlider/headerSlider";
@import "src/Components/footer/footer";
@import "Components/about/about-us";
@import "Components/priceRequest/priceRequest";
@import "src/Components/contactingComponent/contactingComponent";
@import "src/Components/textarea/textarea";
@import "Components/productPage/product";
@import "Components/thankYouPopUp/thankYouPopUp";
@import "Components/productPageSlider/ProductPageSlider";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.justify-center {
  display: flex;
  justify-content: center;
}

.primary-container {
  padding: 0 16px;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 40px;

  .swiper-pagination-bullet {
    background: #00000059;
    border-radius: 0;
    width: 30px;
    height: 3px;
  }

  .swiper-pagination-bullet-active {
    background: #070707;
    border-radius: 0;
    width: 30px;
    height: 3px;
  }
}

.btn {
  padding: 16px 0;
  color: #fff;
  background-color: #070707;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.title {
  font-family: 'Cormorant Garamond', serif;
  font-size: 28px;
  font-weight: bold;
  color: #070707;
  line-height: 1.2;
}

.description {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #070707;
  line-height: 1.5;
}

.page-bg {
  min-height: 100%;
  background-color: rgba(7,7,7, 0.4);
  border: 1px solid transparent;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  min-width: 100%;
  overflow: scroll;
  padding: 30px 16px;

  @include xl {
    overflow: hidden;
  }
}

.input {
  padding: 16px 14px;
  border: 1px solid #DBDBDB;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #070707;
}

.align-center {
  text-align: center;
}

.flex {
  display: flex;
}

.social {
  &__img {
    display: flex;
    align-items: center;
    &--facebook {
      margin-right: 24px;
    }
  }
}
